	body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 0px 10px 0px 20px;
	color: #011502;
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}
header,footer{
	text-align: justify;
	max-width: 1200px;
	margin: 0 auto;
}
.l{
	text-align: center;
}
.logo{
	border-radius: 10px;
	box-shadow: 0 0 10px #fff;
}
.linkinfo{
	text-decoration: none;
	cursor: pointer;
	color: #042105;
}
.linkinfo:hover{
	color:#083F09;
	background: #488849;
	transition: 1s linear;
}
.linkinfo:active{
	color:#88BD88;
	background-color: #47692E;
	transition: 1s linear;
}
.info1{
	color:#042105;
	font-weight: 400;
	text-align: justify;
	height: 250px;
	width:1200px ;
	overflow: auto;
}
h2{
	color: #042105;
	height: 20px;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px 1px 12px #FFF;
	letter-spacing: 5px;
}
h3{
	color: #042105;
	height: 50px;
	font-weight: 400;
	text-align: center;
	text-shadow: 1px 1px 7px #C5F3C6;
	letter-spacing: 5px;
}
h4{
	color: #042105;
	height: 50px;
	font-weight: 400;
	text-align: left;
	text-shadow: 1px 1px 7px #C5F3C6;
	letter-spacing: 5px;
}
p{
	text-indent: 20px;
	hyphens: auto;
	height: 10px;
}
.drink ul li,.menu ul li{
	list-style-type: none;
	text-align: left;
}
.drink ul li{
	text-indent: 50px;
}
.drink1,.drink2,.drink3{
	text-align: center;
}
.l1 li:last-of-type:before{
	content: "\1F4B0";
	opacity: 0.6;
}
.l1 li:first-of-type:before{
	content: "\1F957";
	opacity: 0.6;
}
.l2 li:last-of-type:before{
	content: "\1F4B0";
	opacity: 0.6;
}
.l2 li:first-of-type:before{
	content: "\2615";
	opacity: 0.6;
}
.sale ol ul li{
	text-align-last: left;
}
.checkbox{
	text-indent: 27px;
}
.checkbox1{
	text-indent: 14px;
}
.sale ol ul li:nth-child(odd){
	text-indent: 10px;
}
.eat{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2vw;
	max-height: 500px;
	text-align: center;
	max-width: 1200px;
}
.drinks{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2vw;
	max-height: 400px;
	text-align: center;
	max-width: 1200px;
}
.img{
	height: 200px;
	width: 250px;
	border-radius: 20px;
	border: 5px #666 solid;
	box-shadow: 0 0 10px #444;
}
.icon{
	height: 23px;
	width: 23px;
	border-radius: 10px;
}
.buttom{
	background: #083F09;
	color:#C5F3C6 ;
	cursor: pointer;
}
.buttom:hover{
	background: #488849;
}
.cont1{
	position: relative;
	left: 0;
	top: -35px;
	max-width: 400px;
	max-height: 15px;
}
.cont2{
	position: relative;
	left: 470px;
	top: -70px;
	max-width: 300px;
	max-height: 0;
}
.cont3{
	position: relative;
	top: -90px;
	left: 960px;
	max-width: 400px;
	max-height: 0;
}
.cont4{
	position: relative;
	left: 470px;
	top: -100px;
	max-width: 300px;
	max-height:0;
}
.cont5{
	position: relative;
	left: 950px;
	top: -125px;
	max-width: 300px;
	max-height: 0;
}





